.carrito-card {
  bottom: 0;
  right: 0;
  width: 300px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #eeecd5;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.carrito-card h2 {
  color: #740606ef;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.carrito-card .total {
  font-weight: bold;
  padding: 10px;
  text-align: right;
  color: #fff;
}
.carrito-card button {
  width: 100%;
  padding: 10px;
  background-color: #fe893c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.carrito-card button:hover {
  background-color: #740606ef;
}
