.pizza-store {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;

  width: 100%;
  box-sizing: border-box;
  justify-items: left;
  align-items: start;
  position: relative;
  min-height: 100vh;
}
